<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Free CRM ">
  <test thread-count="5" name="End To End Test">
    <classes>
      <class name="com.freecrm.testcases.Contact_Testcase">
      </class>
     <!--  <class name="com.freecrm.testcases.Homepage">
      </class>
      <class name="com.freecrm.testcases.LoginPage2">
      </class> -->
    </classes>
     </test> <!-- End To End Test -->
 
</suite> <!-- Free CRM  -->
